/.metadata
/*.*~
/*.ufba.GrafoApplet1364642019352.html
/.Árvores Geradoras Mínimas.tex.swp
/texput.log
/Árvores Geradoras Mínimas.aux
/Árvores Geradoras Mínimas.log
/*.out
/Árvores Geradoras Mínimas.bbl
/Árvores Geradoras Mínimas.blg
